<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">What's cooking</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Recipe Box</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <!-- Links -->
    <button type="button" id="clear-all" class="btn btn-secondary">Clear</button>
    {{!-- <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form> --}}
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<!-- Jumbotron -->
<div class="jumbotron card card-image" style="background-image: url(https://www.supermarketnews.com/sites/supermarketnews.com/files/styles/article_featured_standard/public/viewpoint1promo.png?itok=jFrK8FsN); background-repeat: no-repeat;
    background-size: cover;">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>What is for dinner?</strong>
      </h2>
      <p class="mx-5 mb-5">
        <h3>Your Recipe Box</h3>
      </p>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="row" id="saved-articles">
  {{#each articles}}
  {{#if saved}}
  <!-- Card -->
  <div data-_id={{this._id}} class="card mb-4">

    <!--Card image-->
    <div class="view overlay">

      <a href={{this.link}}><img class="card-img-top" src={{this.image}} alt="Card image cap">
        {{!-- <div class="mask rgba-white-slight"></div> --}}
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <a class="card-title" href={{this.link}}>
        <h4>{{this.title}}</h4>
      </a>

      <!--Text-->
      <button id="modalActivate" data-id={{this._id}} type="button" class="btn btn-outline-primary waves-effect"
        data-toggle="modal" data-target="#exampleModalPreview">
        Recipe Notes
      </button>
      {{!-- <button type="button" id="note" data-id={{this._id}} class="btn btn-outline-primary waves-effect">Review Recipe</button> --}}
      <button type="button" id="delete-article" data-id={{this._id}} class="btn btn-outline-danger waves-effect delete">Remove
        Recipe</button>
    </div>
    <!-- Modal -->
    <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
      <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalPreviewLabel"><strong>Notes for:</strong> {{this.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix"></i>
              <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
              <label for="form10">Note</label>
            </div>
          </div>
          <div class="modal-footer">
            {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
            <button type="button" class="btn btn-success save">Save Note</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

  </div>
  <!-- Card -->
  {{/if}}
  {{/each}} {{#unless articles.length}}
  <div class="alert  alert-primary text-center" role="alert" id="empty">
    <h3>Looks like You don't have any Recipes in the Box</h3>
  </div>
  <div class="alert alert-primary text-center" role="alert">
    <h4>Would you like to <a href="/" class="alert-link">Browse Available Recipes?</a></h4>
  </div>
  {{/unless}}
</div>